[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
beautifulsoup4 = "*"
nltk = "*"
spacy = "*"
boilerpy3 = "*"
justext = "*"
goose3 = "*"
jupyter = "*"
pandas = "*"
django-q = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.8"
